.footer
    .container
        .footer__row
            .footer__item.footer__social
                ul
                    li
                        a(href="https://www.instagram.com/?hl=ru" target="_blank") Инстаграм

                    li
                        a(href="https://www.vk.com" target="_blank") Вконтакте

                    li
                        a(href="https://www.facebook.com" target="_blank") Фейсбук

                    li
                        a(href="https://ru.linkedin.com/" target="_blank") Linkedin

            .footer__item
                h3 Контакты

                ul
                    li
                        a(href="tel:+7 967 1927021") Телефон: +7 967 1927021
                    li
                        a(href="tel:+7 967 1927021") Whatsapp: +7 967 1927021
                    li
                        a(href="mailto:info@mycrane.ru") info@mycrane.ru

            .footer__item
                h3 О компании

                ul
                    li
                        a(href="#!") Новости

                    li
                        a(href="#!") Заказчикам

                    li
                        a(href="#!") Исполнителям

            .footer__item
                h3 Документы

                ul
                    li
                        a(href="#!") Политика конфиденциальности

                    li
                        a(href="#!") Договор оферты


