.sidebar
    .sidebar__user
        img.sidebar__user-img(src="img/icons/user.svg" alt="ООО “ХимСтрой”")

        .sidebar__user-info
            .sidebar__user-title ООО “ХимСтрой”

            .sidebar__user-nav
                a.sidebar__user-link(href="#!") Профиль
                a.sidebar__user-link(href="#!") Выход

    .btn--block
        a.btn.btn--border(href="#") Заказать услуги

    .sidebar__nav
        .sidebar__nav-item.sidebar__nav-item-active
            a.sidebar__nav-link(href="#!")
                img.sidebar__nav-icons(src="img/icons/sidebar/edit.svg" alt="Мои заявки")
                | Мои Заявки

        .sidebar__nav-item
            a.sidebar__nav-link(href="#!")
                img.sidebar__nav-icons(src="img/icons/sidebar/crane.svg" alt="Парк техники и подписки")
                | Парк техники и подписки

        .sidebar__nav-item
            a.sidebar__nav-link(href="#!")
                img.sidebar__nav-icons(src="img/icons/sidebar/notice.svg" alt="Уведомления")
                | Уведомления

        .sidebar__nav-item
            a.sidebar__nav-link(href="#!")
                img.sidebar__nav-icons(src="img/icons/sidebar/chat.svg" alt="Сообщения")
                | Сообщения

        .sidebar__nav-item
            a.sidebar__nav-link(href="#!")
                img.sidebar__nav-icons(src="img/icons/sidebar/folder.svg" alt="Черный список")
                | Черный список

        .sidebar__nav-item
            a.sidebar__nav-link(href="#!")
                img.sidebar__nav-icons(src="img/icons/sidebar/support.svg" alt="Поддержка")
                | Поддержка





